/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
.env
error_log
public/.user.ini
public/php.ini
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/storage/*.index
.htaccess